@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"); */

@layer components {
  .overlay-active {
  }
}

.custom-checkbox {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 3px;
  border-color: #ffa006;
  display: inline-block;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #ffa006;
  border-color: #ffa006;
}

.custom-checkbox:checked::after {
  content: "✓";
  font-size: 12px;
  position: absolute;
  top: -4px;
  left: 2px;
  color: #fff;
}

.overlay {
  color: #f1f1f1;
  animation: overlayActive 0.75s ease-in-out;
  opacity: 1;
}

@keyframes overlayActive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
